@import './usage-slider';
@import './usage-badge';

.storage {
    display: grid;
    grid-template-columns: 32.6rem;

    &__content {
        background-color: var(--color-dark-blue);
        border-radius: 1rem;
        padding: 3.2rem 3.2rem 5.2rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1.9rem;

        position: relative;

        & .usage-badge {
            position: absolute;
            left: 7.4rem;
            bottom: -3.6rem;
        }
    }

    & .storage-used {
        font-weight: var(--fw-bold);
    }
}