@import './usage-slider';

.storage {
    width: 32.6rem;

    &__content {
        background-color: var(--color-dark-blue);
        border-radius: 1rem;
        padding: 3.2rem 3.2rem 5.2rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1.9rem;
    }


}