.usage-badge {
    font-weight: var(--fw-bold);
    color: var(--color-grayish-blue);
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1.6rem 2.4rem;

    display: flex;
    gap: 0.9rem;
    justify-content: space-between;
    align-items: center;

    &__storage-left {
        font-size: 4rem;
    }

    &__text {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        opacity: 0.5;
    }
}