:root {
    --ff-base: 'Raleway', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;

    --color-pale-blue: #DBD9FF;
    --color-grayish-blue: #0C122C;
    --color-dark-blue: #1E2D69;
    --color-very-dark-blue: #0F1B3D;
    --color-white: #FFF;

    --color-linear-gradient: linear-gradient(to right, #FFA197, #FF4A95);
}

// Breakpoints
// $bp-tablet: 48em; // 768px
// $bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    color: var(--color-pale-blue);
    background-color: var(--color-very-dark-blue);

    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}
